header {

    background-color: aquamarine;
    margin: 20px;
    padding: 50px;
    font-size: 30px;
}

li {
    list-style-type: none;
}

.Asan{

    color: red;
}

.Bsan{

    color: blue;
}

#reset {

    color: deeppink;
}

#reset.deeppink {

    color: deeppink;
}