<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01EasyCalc</title>
</head>
<body>
    <input type="number" id="num1">
    <input type="number" id="num2">
    <div>
    <input type="button" value="加算" onclick="calcs1()">
    <input type="button" value="減算" onclick="calcs2()">
    <input type="button" value="乗算" onclick="calcs3()">
    <input type="button" value="除算" onclick="calcs4()">
    <input type="button" value="剰余算" onclick="calcs5()">
    </div>
</body>
</html>